:root {
  --color-a: #7c5dfa;
  --color-b: #9277ff;
  --color-c: #1e2139;
  --color-d: #252945;
  --color-e: #dfe3fa;
  --color-f: #888eb0;
  --color-g: #7e88c3;
  --color-h: #0c0e16;
  --color-i: #ec5757;
  --color-j: #9277ff;
  --color-k: #f8f8f8;
  --color-l: #141625;
  --color-m: white;
}

@font-face {
  font-family: Spartan;
  src: url("LeagueSpartan-Thin.woff2") format("woff2"),
    url("LeagueSpartan-Thin.woff") format("woff");
  font-display: swap;
}

.bodyAlt {
  font-size: 11px;
  font-weight: normal;
  line-height: 18px;
  letter-spacing: -0.23px;
}

a {
  text-decoration: none;
  color: unset;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  line-height: 36px;
  letter-spacing: -1px;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  line-height: 22px;
  letter-spacing: -0.63px;
}

h3 {
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: -0.8px;
}

h4 {
  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
  letter-spacing: -0.25px;
}

* {
  font-family: Spartan, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-k);
  color: var(--color-h);
  margin: 0;

  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr;

  font-size: 12px;
  font-weight: normal;
  line-height: 15px;
  letter-spacing: -0.25px;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--color-l);
    color: white;
  }
}

nav {
  background-color: var(--color-c);
  width: 100px;
  display: grid;
  height: 100%;
  grid-auto-flow: row;
  grid-template-rows: auto 1fr auto auto;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
}

.nav-logo {
  background-color: var(--color-a);
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  display: grid;
  grid-auto-flow: row;
  height: 100px;
  grid-template-rows: 50px 50px;
}

.nav-logo-shimmer {
  background-color: var(--color-b);
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  height: 50px;
  align-self: end;
  grid-column: 1;
  grid-row: 2;
}

.nav-logo-image {
  grid-row: 1 / span 2;
  grid-column: 1;
  z-index: 1;
  display: grid;
  justify-items: center;
  align-items: center;
}

.nav-logo-image-asset {
  width: 50px;
  height: 50px;
}

.nav-theme {
  align-self: end;
  height: 50px;
  display: grid;
  justify-items: center;
  align-items: center;
}

.nav-profile {
  align-self: end;
  height: 100px;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: 2px 1fr;
  row-gap: 5px;
}

.nav-profile-seperator {
  background-color: var(--color-e);
  width: 100%;
  height: 2px;
}

.nav-profile-image {
  border-radius: 50px;
  height: 50px;
}

main {
  margin-top: 50px;
  display: grid;
  padding-left: 50px;
  padding-right: 50px;
  grid-auto-flow: row;
  grid-template-rows: 100px 1fr;
}

header {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr auto auto;
  justify-self: center;
  width: 100%;
  height: 100px;
  align-items: center;
  column-gap: 10px;
}

.header-title {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: auto auto;
}

.button {
  min-width: 125px;
  height: 50px;
  border-radius: 50px;
  background-color: var(--color-a);
  color: var(--color-m);
  text-decoration: none;
  border-width: 0;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
  font-size: 14px;
  align-items: center;
  display: grid;
  justify-items: center;
}

.button-add {
  grid-auto-flow: column;
  grid-template-columns: auto auto;
  column-gap: 5px;
}

.button-add-icon {
  background-color: var(--color-m);
  width: 25px;
  height: 25px;
  border-radius: 25px;
  color: var(--color-a);
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  font-weight: bold;
  line-height: 30px;
}

.no-invoice-content {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: repeat(3, min-content);
  row-gap: 5px;
  justify-items: center;
  align-items: center;
  text-align: center;
  align-self: center;
}

.invoices-list {
  display: grid;
  grid-auto-flow: row;
  row-gap: 10px;
  align-items: start;
  align-self: start;
}

.invoice-row {
  height: 70px;
  background-color: var(--color-d);
  width: 100%;
  border-radius: 20px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 75px auto 1fr auto 70px 30px;
  column-gap: 10px;
  align-items: center;
  padding-left: 20px;
  cursor: pointer;
}

.invoice-row-id {
  padding-left: 20px;
}

.invoice-row-total {
  text-align: right;
}

.invoice-row-status {
  height: 40px;
  background-color: var(--color-f);
  color: var(--color-e);
  display: grid;
  border-radius: 10px;
  align-items: center;
  justify-items: center;
  grid-auto-flow: column;
  padding-left: 10px;
  padding-right: 10px;
  grid-template-columns: 10px 1fr;
}

.invoice-row-status-pending {
  background-color: rgb(255, 225, 168);
  color: orange
}

.invoice-row-status-paid {
  background-color: rgb(138 212 138 / 70%);
  color: green;
}

.invoice-row-status-bullet {
  font-size: 30px;
}

.new-invoice {
  display: grid;
  grid-auto-flow: row;
  row-gap: 10px;
  justify-items: left;
  align-items: start;
  align-self: start;
  width: 50vw;
  margin-bottom: 30px;
}

.new-invoice-form {
  display: grid;
  grid-auto-flow: row;
  row-gap: 10px;
  justify-items: left;
  align-items: start;
  align-self: start;
  width: 100%;
}

.new-invoice-input {
  display: grid;
  grid-auto-flow: row;
  row-gap: 5px;
  justify-items: left;
  align-items: start;
  align-self: start;
  width: 100%;
}

label {
  color: var(--color-f);
}

.new-invoice-section {
  color: var(--color-a);
}

.new-invoice-local-layout {
  display: grid;
  grid-auto-flow: column;
  column-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
}

.new-invoice-dates {
  display: grid;
  grid-auto-flow: column;
  column-gap: 10px;
  grid-template-columns: 1fr 1fr;
}

input[type="text"] 
{
  background-color: var(--color-d);
  height: 35px;
  color: var(--color-m);
  border-radius: 5px;
  width: 100%;
  border-width: 1;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-color: var(--color-g);
  border-style: solid;
}

input[type="date"] 
{
  background-color: var(--color-d);
  height: 35px;
  color: var(--color-m);
  border-radius: 5px;
  width: 100%;
  border-width: 1;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-color: var(--color-g);
  border-style: solid;
}

input[type="email"] 
{
  background-color: var(--color-d);
  height: 35px;
  color: var(--color-m);
  border-radius: 5px;
  width: 100%;
  border-width: 1;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-color: var(--color-g);
  border-style: solid;
}

select
{
  background-color: var(--color-d);
  height: 35px;
  color: var(--color-m);
  border-radius: 5px;
  width: 100%;
  border-width: 1;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-color: var(--color-g);
  border-style: solid;
}

.new-invoice-items{
  display: grid;
  grid-auto-flow: row;
  row-gap: 5px;
  justify-items: left;
  align-items: start;
  align-self: start;
  width: 100%;
}

.new-invoice-item-row {
  display: grid;
  grid-auto-flow: column;
  column-gap: 10px;
  grid-template-columns: auto 50px 100px 100px 30px;
  width: 100%;
  justify-items: stretch;
}

.button-color-d {
  background-color: var(--color-d);
  width: 100%;
}

.button-color-f {
  background-color: var(--color-f);
}

.button-color-m {
  background-color: var(--color-m);
  color: var(--color-g);
}

.button-color-custom {
  background-color: #2e3a99;
}

.button-color-i {
  background-color: var(--color-i);
}

.new-invoice-buttons {
  display: grid;
  grid-auto-flow: column;
  column-gap: 10px;
  grid-template-columns: 125px auto 125px 125px;
  width: 100%;
  justify-items: stretch;
}

button[type=button] {
  cursor: pointer;
}

.view-invoice {
  display: grid;
  width: 80%;
  grid-auto-flow: row;
  grid-template-rows: 100px auto;
  row-gap: 20px;
}

.view-invoice-status {
  background-color: var(--color-d);
  padding-left: 20px;
  padding-right: 20px;
  column-gap: 10px;
  align-items: center;
  border-radius: 25px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto auto 1fr auto auto auto;
}

.view-invoice-detail {
  background-color: var(--color-d);
  border-radius: 25px;
  grid-auto-flow: row;
  grid-template-rows: auto auto auto;
  padding: 20px;
  row-gap: 10px;
}

.view-invoice-detail-row1 {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto auto;
  align-items: start;
}

.view-invoice-detail-row2 {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto auto auto;
  align-items: start;
}

.view-invoice-detail-row3 {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto auto;
  align-items: start;
  border-radius: 15px;
  background-color: var(--color-g);
}

.view-invoice-detail-address {
  text-align: right;
}