<div class="no-invoice-content">
  <div><img src="./images/illustration-empty.svg" alt="No invoices" /></div>
  <h1>There is nothing here</h1>
  <div>Create an invoice by clicking the
    <strong>New Invoice</strong>
    button and get started</div>
</div>